In [2]:
x=[]        #empty
x=list()    #empty
y=[1,2,3]   #direct initialization
z=[]
z.append("apple")  #Adding single value
z.append("cherry")
z.append("avacado")

In [3]:
x=[1,2,3]
y=[4,5,6]
z=x+y   #Concatenate list
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [4]:
#list of duplicates

a=[1] * 10
print(a)
b=[1,2]*5
c=a*2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
print(a)        # raw input

#displaying single item at a time using loop

for item in a :
    print(item)

# single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [10]:
names = ['sameer','bhargav','vishnu','madhav','yaswanth',
         'hassan','sashi','mouli','balaji','ajay'
         ,'vaishnavi','Neha','varsha','lahari','anjali','geethika',
         'sirisha','sumitra','ruhi','kiranmayee']
print(names,end='')

['sameer', 'bhargav', 'vishnu', 'madhav', 'yaswanth', 'hassan', 'sashi', 'mouli', 'balaji', 'ajay', 'vaishnavi', 'Neha', 'varsha', 'lahari', 'anjali', 'geethika', 'sirisha', 'sumitra', 'ruhi', 'kiranmayee']

list: 
    ->creaton
    ->add
    ->remove
    ->search
    ->sort
    ->count

In [5]:
books =[]
#adding one item at a time
books.append("The way of king")
print(books)
books.append("The Final Empire")
books.append("steelHeart")
books.append("Legion")
print(books)

['The way of king']
['The way of king', 'The Final Empire', 'steelHeart', 'Legion']

In [3]:
colors = ['red','green','blue']
colors.extend(['yellow','black'])
print(colors)
colors2 = ['purple','pink','yellow']
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black']
['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [9]:
a = []
for i in range(0,11):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
movies = []
for i in range(5):
    value = input("Enter a movie: ")
    movies.append(value)
print("Your movie list is:", movies)

Your movie list is: ['fhfhdfdjf', 'sdfbsd', 'sdfdhf', 'sfbsdfb', 'kdsbfdf']

In [6]:
x=[1,5,10]
x.insert(1,2)
x.insert(2,3)
x.insert(4,9)
print(x)

[1, 2, 3, 5, 9, 10]

# List Methods - 11

* Adding Elements
    1. append() -> add one element to the end of the list
    2. insert() -> add one element to a specific position
    3. extend() -> append multiple items in a list

* Removing elements
    1. remove() -> remove the first occurrence of a value
    2. pop() ->remove and return an element fron an index
    3. clear() -> remove all elements from the list

* Utility Methods
    1. count() -> Count occurrence of a element
    2. index() -> find index of a element(first only)
    3. sort()  -> sort the list
    4. reverse() -> reverse the list
    5. copy()  -> return a shallow copy of the list

In [3]:
books = ['Fast and Furious','Jurassic World','Fantasic Beasts','Warbreaker',
         'The Final Empire','Martian','The Shallows','Harry Potter',
         'King of Throns','The Meg','The Maze Runner']

In [9]:
# len function checks the size of iterable/
print("size of books list" , len(books))

size of books list 8

In [5]:
books.remove("The Meg")
print(books)

['Fast and Furious', 'Jurassic World', 'Fantasic Beasts', 'Warbreaker', 'The Final Empire', 'Martian', 'The Shallows', 'Harry Potter', 'King of Throns', 'The Maze Runner']

In [6]:
if "The Maze Runner" in books:
    books.remove('The Maze Runner')
print(books)

['Fast and Furious', 'Jurassic World', 'Fantasic Beasts', 'Warbreaker', 'The Final Empire', 'Martian', 'The Shallows', 'Harry Potter', 'King of Throns']

In [10]:
books.pop(3)

'The Final Empire'

In [13]:
print(books)
print(len(books))

['Fast and Furious', 'Jurassic World', 'Fantasic Beasts', 'Martian', 'The Shallows', 'Harry Potter']
6

In [12]:
# pop() Without any index will remove the last element
books.pop()

'King of Throns'

In [14]:
books.clear()
print(books)

[]

In [22]:
languages = ['C','Python','Kotlin','Java',
             'Dart','Go','C++','C#',
             'Html','JavaScript','Scala',
             'Rust','Mojo','Assembly']

numbers = [12,56,23,67,13,
           23,12,56,23,56,
           12,34,23,23,12,
           34,34,23,53,92]

data = [1,'Apple',2,'Avacado',3,'Apricot']

In [17]:
numbers.count(12) # counts how many times 12 occur in the list

4

In [18]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [19]:
languages.index('C#') #7th index in my list

7

In [23]:
print(languages.index('C'))
print(languages.index('Java'))
print(languages.index('Python'))
# print(languages.index('Lisp')) # will give error

0
3
1

In [ ]:
print("Original",languages)
languages.sort() # sort implace
print("Sorted",  languages)
languages.sort(reverse=True) # Sort in reverse
print("Sorted in reverse",languages)

Original ['Assembly', 'C', 'C#', 'C++', 'Dart', 'Go', 'Html', 'Java', 'JavaScript', 'Kotlin', 'Mojo', 'Python', 'Rust', 'Scala']
Sorted ['Assembly', 'C', 'C#', 'C++', 'Dart', 'Go', 'Html', 'Java', 'JavaScript', 'Kotlin', 'Mojo', 'Python', 'Rust', 'Scala']
Sorted in reverse ['Scala', 'Rust', 'Python', 'Mojo', 'Kotlin', 'JavaScript', 'Java', 'Html', 'Go', 'Dart', 'C++', 'C#', 'C', 'Assembly']

In [26]:
print("Original" , data)
data.reverse() # reverse the list
print("Reversed", data)

Original [1, 'Apple', 2, 'Avacado', 3, 'Apricot']
Reversed ['Apricot', 3, 'Avacado', 2, 'Apple', 1]

In [28]:
numbers.sort()
print(numbers)

[12, 12, 12, 12, 13, 23, 23, 23, 23, 23, 23, 34, 34, 34, 53, 56, 56, 56, 67, 92]

In [27]:
data.sort()
print(data)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
x=[1,2,3,4]
y=x #deep copy
z = x.copy() #shallow copy
print(x,y,z,sep = '\n')
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x,y,z , sep = '\n')

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 10, 20]

In [2]:
movie=['sfdh','sdjnfj','bsbd']
veg=['vavsd','hahj','hjaj']
series=['ajj','abs','akk']

In [ ]:
var = [movie,veg,series]

In [ ]:
print(var)

['sfdh', 'sdjnfj', 'bsbd'] ['vavsd', 'hahj', 'hjaj'] ['ajj', 'abs', 'akk']

# Nested List

list within a list

In [4]:
x = []          # empty list  -> 1 Dimension
x2 = [[]]       # empty list -> 2 Dimension

print(x)
print(x2)

[]
[[]]

In [5]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [6]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [ ]:
items =[
    ['red','green','blue'],             # per row -> 3 items
    ['apple','gauva','blueberry'],
    [150,100,300]
]
print(items)
print("Size of list",len(items))
print("Size of list at index 0 is",len(items[0]),"=>",items[0])
print("Size of list at index 1 is",len(items[1]),'=>',items[1])
print("Size of list at index 2 is",len(items[2]),"=>",items[2])
print("Elements 0 as List 0 is" , items[0][0])
print("Elements 2 as List 0 is" , items[0][2])
print("Elements 0 as List 1 is" , items[1][0])
print("Elements 1 as List 1 is" , items[1][1])

[['red', 'green', 'blue'], ['apple', 'gauva', 'blueberry'], [150, 100, 300]]
Size of list 3
Size of list at index 0 is 3 => ['red', 'green', 'blue']
Size of list at index 1 is 3 => ['apple', 'gauva', 'blueberry']
Size of list at index 2 is 3 => [150, 100, 300]
Elements 0 as List 0 is red
Elements 2 as List 0 is blue
Elements 0 as List 1 is apple
Elements 1 as List 1 is gauva

In [40]:
items =[
    [12,23,45,25],             # per row -> 3 items
    [85,95,25,15],
    [30,32,35,5]
]
print(items)
print("Size of list",len(items))
print("Size of list at index 0 is",len(items[0]),"=>",items[0])
print("Size of list at index 1 is",len(items[1]),'=>',items[1])
print("Size of list at index 2 is",len(items[2]),"=>",items[2])
print("Elements 0 as List 0 is" , items[0][0])
print("Elements 0 as List 1 is" , items[0][1])
print("Elements 0 as List 2 is" , items[0][2])
print("Elements 1 as List 3 is" , items[0][3])
print("Elements 0 as List 0 is" , items[1][0])
print("Elements 0 as List 1 is" , items[1][1])
print("Elements 0 as List 2 is" , items[1][2])
print("Elements 1 as List 3 is" , items[1][3])
print("Elements 0 as List 0 is" , items[2][0])
print("Elements 0 as List 1 is" , items[2][1])
print("Elements 0 as List 2 is" , items[2][2])
print("Elements 1 as List 3 is" , items[2][3])

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]
Size of list 3
Size of list at index 0 is 4 => [12, 23, 45, 25]
Size of list at index 1 is 4 => [85, 95, 25, 15]
Size of list at index 2 is 4 => [30, 32, 35, 5]
Elements 0 as List 0 is 12
Elements 0 as List 1 is 23
Elements 0 as List 2 is 45
Elements 1 as List 3 is 25
Elements 0 as List 0 is 85
Elements 0 as List 1 is 95
Elements 0 as List 2 is 25
Elements 1 as List 3 is 15
Elements 0 as List 0 is 30
Elements 0 as List 1 is 32
Elements 0 as List 2 is 35
Elements 1 as List 3 is 5

In [41]:
matrix =[
    [12,23,45,25],             # per row -> 3 items
    [85,95,25,15],
    [30,32,35,5]
]
print(matrix)

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]

In [ ]:
# not good
print(matrix[0])
print(matrix[1])
print(matrix[2])

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [ ]:
# Good
for row in matrix:
    print(row)

[12, 23, 45, 25]
[85, 95, 25, 15]
[30, 32, 35, 5]

In [45]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=" ")

12 23 45 25 85 95 25 15 30 32 35 5

In [47]:
for i in matrix:
    for j in i:
        print(j,end=" ")
    print()  # Change line after each row

12 23 45 25
85 95 25 15
30 32 35 5

In [48]:
# wap to print the sum of all the values in matrix
total = 0
for row in matrix:
    for val in row:
        total += val
print(total)

427

In [ ]:
# wap to print the product of all the values in matrix
total = 1
for row in matrix:
    for val in row:
        total *= val
print(total)

157959112500000000

# Wap to print row wise sum of matrix

In [ ]:
for row in matrix:
    total=0
    for vlaue in row:
        total += vlaue
    print(row, '=>' , total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

In [60]:
# wap to print row wise avrage of the values
for row in matrix:
    total=0
    for vlaue in row:
        total += vlaue
    avg = round(total/len(row),1) 
    print(row, '=>' , avg )

[12, 23, 45, 25] => 26.2
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

In [ ]:
# wap to print column wise sum of matrix

size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total}")

column 0 => 127
column 1 => 150
column 2 => 105
column 3 => 45

In [69]:
# wap to print column wise sum of matrix

size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total/size}")

column 0 => 31.75
column 1 => 37.5
column 2 => 26.25
column 3 => 11.25

loops,conditions,if else,if class,nested if,lists

# wap to print the lower bound triangle of a matrix

In [75]:
mat2= [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        if (c <=r):
            print(mat2[r][c],end = ' ')
    print()

1
5 6
9 10 11
13 14 15 16