In [1]:
name = "Shaik Sameer"
city = "Nellore"

In [2]:
name

'Shaik Sameer'

### input in python 
`input () functions is used for taking user input`

In [3]:
name = input()

In [7]:
name = input()

In [8]:
name

'sameer'

In [10]:
name = input("Enter your name")
city = input("Enter your city")
address = input("Enter your address")
print(name,city,address)

Sameer Nellore 12-152

In [ ]:
# static

a = 10
b = 20
c = a + b
print(a,b,c)

10 20 30

In [ ]:
# Dynamic input -> typecasted

a = int(input("Enter A value :"))
b = int(input("Enter B value :"))
c = a + b 
print("The sum is :",c)

The sum is : 50

In [ ]:
# Circle formula

radius = float(input("Enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 * radius
area = 3.14 * radius **  2

print(radius)
print(diameter)
print(circumference)
print(area)

5.5
11.0
34.54
94.985

In [25]:
# simple interset

p = int(input("Enter principal amount"))
r = float(input("Enter rate of intreset value"))
t = int(input("Enter time of years"))
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

300000
1.0
3
9000.0

In [ ]:
pi = 3.14
r = float(input("Enter radius value"))
h = float(input("Enter a height value"))
v = pi * r ** 2 * h 
print(v)

2517.7681800000005

In [ ]:
# formatting the output : "The Way of Changing the data is known as formatting"

print("hii Everyone")          # Displaying the message
print("one","two","three")     # Displaying multiple data value
print(1,2,3,4+5)               # 
print(10 * 2 + 3)
print("apple", "banana" , "oranges" , sep="~")
print("😃❤️✌️👀😄🙈")

hii Everyone
one two three
1 2 3 9
23
apple~banana~oranges
😃❤️✌️👀😄🙈

In [ ]:
print(1,2,3,4,5)
print(1,2,3,4,5, sep="")
print(1,2,3,4,5,6, sep=",")
print(1,2,3,4,5,6, sep='➡️')
print(1,2,3,4,5, sep="\n")
print(1,2,3,4,5, sep="hello World")
print(1,"HEllO")

1 2 3 4 5
12345
1,2,3,4,5,6
1➡️2➡️3➡️4➡️5➡️6
1
2
3
4
5
1hello World2hello World3hello World4hello World5

In [ ]:
a = 110
b = 20
c = a + b
print(c)
print("Answer " + str(c))
print("Answer",c)
print("Answer %d"%c)            # not the best way
print("%d + %d => %d"%(a,b,c))  # also very complicated
print("Answer {}".format(c))    # Old Way (before python 3.6)
print("{} + {} = {}".format(a,b,c)) # Old Way

130
Answer 130
Answer 130
Answer 130
110 + 20 => 130
Answer 130
110 + 20 = 130

In [ ]:
# final actual way to format output using f-strings

a = 110
b = 20
c = a + b
print(f"Answer {c}")
print(f"{a} + {b} = {c}")   # f-string/formattable

Answer 130
110 + 20 = 130

In [25]:
print(f'we get {c} , when we add {a} and {b}')

we get 130 , when we add 110 and 20

In [26]:
name = "Sameer"
job = "Developer"
company = "unknown"
print(f"My Name is {name}, i work as a job {job} in {company}")

My Name is Sameer, i work as a job Developer in unknown

In [27]:
p = 20 
b = 10
h = (p**2 + b**2)**.5
print("Claculation of hypotenuse")
print(f"Peripenducalar => {p}")
print(f"Base => {b}")
print("Based on pythagoras theorem : ")
print(f"Hypotenuse => {h}")

Claculation of hypotenuse
Peripenducalar => 20
Base => 10
Based on pythagoras theorem :
Hypotenuse => 22.360679774997898

In [ ]:
num = 12345
res = str(num)[::-1]
print(res)

<class 'int'>
54321

In [ ]:
# conditions in python there are 4 conditional statements
# if
#if-else
# if-elseif
# match case

In [1]:
data = int(input("enter data value"))
print(f"value => {data}")

value => 200

In [18]:
print("you see a apple seller")
q = input("do you like apples")

if q=='yes' :
    print('purchase 2kg of apples')
if q=='no' :
    print('you dont purchase apples')

you see a apple seller
purchase 2kg of apples

In [10]:
print("you see a apple seller")
q = input("do you like apples")

if q=='yes' :
    print("Buy 2kg apples")
if q=='no' :
    print("you dont buy apples")

you see a apple seller
Buy 2kg apples

In [ ]:
# solution 1 - create the da variable before condition
salary = 42000
da = 0
if salary > 50000 :
    da = .15                  # 15% dearness allowance
total = salary + salary * da
print(total)

NameError: name 'da' is not defined

In [21]:
del da

NameError: name 'da' is not defined

In [3]:
# solution 2 - use if else
salary = 42000
if salary > 50000 :
    da = .15                  
    total = salary + salary * da
else :
    total = salary
print(total)

42000

In [4]:
salary = 42000
if salary > 50000 :
    da = .15                  
    total = salary + salary * da
    print(total)
else :
    total = salary
    print(total)

42000

In [ ]:
x = int(input("Enter x value :"))
y = int(input("Enter y value :"))
if x>y :
    q=x-y
else :
    q=y-x
print(q)

10

In [6]:
name = input("Enter your fav movie : ")
if len(name) > 10 :
    print(f"long movie name : {name}")
else :
    print(f"short movie name : {name}")
print("The End")

long movie name : bahubali the conclusion
The End

### handling multiple conditions using if-elif

In [ ]:
a,b,c = 2, 5, 6
print(a,b,c)

2 5 6

In [ ]:


print("What is the capital of India")
answer = input("Answer")
if answer == "Delhi" :
    print("You are correct")
if answer == "New Delhi" :
    print("you are very Correct ")
if answer == "I don't know" :
    print("u Must be sleeping under the rock")
if answer == "Shimla" :
    print("U must be from Britain")
if answer == "" :
    print("Please enter a correct capital of india")

What is the capital of India
Please enter a correct capital of india

In [ ]:
# with elif

marks = int(input("Enter your total marks in 10th : "))
if marks > 90 :
    print("Your Grade is : A ")
elif marks > 75 :
    print("Your Grade is : B ")
elif marks > 60 :
    print("Your Grade is : C ")
elif marks > 40 :
    print("Your Grade is : D ")
elif marks <40 :
    print("Your are FAIL ☠️ ")

Your Grade is : A

In [28]:
# Without elif

marks = int(input("Enter your total marks in 10th : "))
if marks > 90 and marks <=100 :
    print("Your Grade is : A ")
if marks > 75 and marks <=90 :
    print("Your Grade is : B ")
if marks > 60 and marks <=75 :
    print("Your Grade is : C ")
if marks > 40 and marks <=60 :
    print("Your Grade is : D ")
if marks <40 :
    print("Your are FAIL ☠️ ")

Your Grade is : B

In [32]:
# salary calculator

salary = int(input("Enter Your frds salary :"))

if salary > 100000 :
    total = salary - salary *  .2
elif salary > 80000 :
    total = salary - salary * .1
elif salary > 50000 :
    total = salary - salary * .05
else : 
    total = salary + 10000
print (f"frds salary = > {salary}")
print (f"frds total = > {total}")

frds salary = > 60000
frds total = > 57000.0

# match case

In [13]:
day = input("What is day today")
match day:
    case "Monday" : print("Today is monday")
    case "Sunday" : print("Holiday")
    case "Friday" : print("waiting for the weekend")
    case "Saturday" : print("The Best day of the week")
    case default : print("It's not an option")

Today is monday

In [15]:
print("Tell me some Movies")
genre = input("What genre do you like")
match genre :
    case "action" :
        print("Avengers , Deadpool , Fast & Furious")
    case "Horror" :
        print("IT , NUN , The Nightmare")
    case "fantasy" :
        print("Lord of the raising series , Harry potter series")
    case "sci-fi" | "comedy" :
        print("Adam Project , Nimona , InterSellar")
    case default :
        print("You should not watch any movies")

Tell me some Movies
Adam Project , Nimona , InterSellar

# nested if

if cond
    if cond
        if cond
            statement
        else:
            statement
    else:
        statement
else :
    statement
    .........

In [27]:
ans = input("You see a bear , would like to fight it y/n")
if ans == "n" :
    print("you escaped and find a lion")
    ans2 = input("you want to fight it y/n")
    if ans2 == "n" :
        print("you escaped again and find a car")
        ans3 = input("you want to drive it y/n")
        if ans== 'y' :
            print("you escaped the area")
        else :
            print("The bear & lion catch and kill you")
    else:
        print("you failed miserably and died")
else:
    print("The bear destroyed you")

you escaped and find a lion
you escaped again and find a car
The bear & lion catch and kill you

In [28]:
a , b , c = 10, 5, 23
if a > b :
    if a > c :
        total = a+b+c
        if total > 100 :
            print(f"The total is big {total}")
        else :
            print(f"The total is small value = {total}")
    else :
        total = c + b
        print(f"the total is {total}")
else :
    print("the total was calculated")

the total is 28

In [4]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9