# we have To types of loops :

for (LOOP) :
-> step based loop

while (LOOP) :
-> condition expression based loop

: (COLON) -> IT CRAETES A BLOCK OF CODE

(
    _ (or) i  ->(underscore is loop variable are we can kept any variable)
    in ->(Member ship operator)
    : -> (colon)
)

In [2]:
for i in range(1,16) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
a = 5
b = 10
for i in range(a,b) :
    print(i)

5
6
7
8
9

In [8]:
x = int(input("Enter start point :"))
y = int(input("Enter End point :"))
for i in range(x,y) :
    print(i)

10
11
12
13
14
15
16
17
18
19

In [9]:
size = 10 
for i in range(1,size+1):
    print(f"12 * {i} = {12 * i}")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

# RANGE()
range(5)  -> 0 1 2 3 4 
range(6)  -> 0 1 2 3 4 5
range(10 , 14)  -> 10 11 12 13
range(2(start) , 6(stop)) -> 2 3 4 5
range() -> error
range(1 , 10 , 2) -> 1 3 5 7 9

In [1]:
for i in range(1,20,2) :
    print(i)

1
3
5
7
9
11
13
15
17
19

In [4]:
for i in range(100 , 201 ,2) :
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [5]:
colors = ['red' , 'blue' , 'green']
print(colors)

['red', 'blue', 'green']

In [6]:
for colors in colors :
    print(colors)

red
blue
green

In [11]:
# Print odd numbers from 100 to 200 in horizontal line
for i in range(1, 99, 2):   # start from 101 (first odd after 100)
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97

In [1]:
for i in range(-10,10,3):   
    print(i, end=" ")

-10 -7 -4 -1 2 5 8

# loop with Conditions

Syntax :
    for var in iterable :
        if condition:
            statement
        else:
            statement

In [5]:
for i in range(1,11) :
    if i %2!=0 :
        print(i)

1
3
5
7
9

In [7]:
nums = [1, 5,11,3,12,15]
for i in nums:
    if i %2==0:
        s=i**2
        print(s)
    else:
        print("odd Numbers")

odd Numbers
odd Numbers
odd Numbers
odd Numbers
144
odd Numbers

In [20]:
#display square of odd num
num = [1,3,5,7]
for i in num:
    if i%2!=0:
        s = i**3
        print(5)
    else:
        print("even number")

5
5
5
5

In [21]:
radius = [3,5,6,11,10]
for r in radius:
    area = 3.14*r**2
    print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [23]:
games = ['freefire' , 'gensin Impact' , 'pubg' , 'aspahalt Nitro']
for g in games:
    if g.startswith('p'):
        print(g)

pubg

In [25]:
books = ['The final Empire' , 'Warbeaker' ,'Elantris' , 'The well of Ascension' , 'The alloy of law' , 'Hero of age' , 'The way of kings']
for book in books:
    if "The" in book :
        print(f"book -> {book}")

book -> The final Empire
book -> The well of Ascension
book -> The alloy of law
book -> The way of kings

In [7]:
total = 1
for num in range(10,21):
    total = total*num
print(total)

6704425728000

In [8]:
nums = [5,11,2,3,10,33]
m = 0
for num in nums :
    if num>m:
        m=num
print(m)

33

In [15]:
num = [25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count = 0
for i in num:
    if i % 3 == 0:
        count = count + 1
print(f"Total count = {count}")

Total count = 8

In [16]:
num = [25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count = 0
for i in num:
    if i % 2 == 0:
        count = count + 1
print(f"Total count = {count}")

Total count = 13

In [5]:
movies = ["Harry Potter 1" , "Harry Potter 2" , "Harry Potter 3" , "Harry Potter 4" ,
          "Harry Potter 5", "Harry Potter 6" , "Harry Potter 7" , "Harry Potter 8",
          "Fast and Furious 1" ,"Fast and Furious 2" , "Fast and Furious 3" ,
          "Fast and Furious 4 " , "Fast and Furious 5"]

movies_with_h = 0
for movie in movies:
    if movie.startswith("F") or movie.startswith("f"):
        # long way -> movies_with_h = movies_with_h + 1
        movies_with_h +=1
print("Count",movies_with_h)

Count 5

In [14]:
num = 10
fact = 1
for i in range(num,0,-1):
    fact = fact * i
print(fact)

3628800

In [15]:
num = 10
fact = 1
for i in range(num,0,-1):
    print(f'{i} * {fact}' )
    fact = fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

# Nested loop
for loop:
    for loop:
        for loop:
            ....

In [18]:
# Loops total 10*5 => 50 times
for i in range(1,11):       # loop 10 times
    for j in range(1,6):    # loop 5 times
        print(f" i = {i},j = {j}")

 i = 1,j = 1
 i = 1,j = 2
 i = 1,j = 3
 i = 1,j = 4
 i = 1,j = 5
 i = 2,j = 1
 i = 2,j = 2
 i = 2,j = 3
 i = 2,j = 4
 i = 2,j = 5
 i = 3,j = 1
 i = 3,j = 2
 i = 3,j = 3
 i = 3,j = 4
 i = 3,j = 5
 i = 4,j = 1
 i = 4,j = 2
 i = 4,j = 3
 i = 4,j = 4
 i = 4,j = 5
 i = 5,j = 1
 i = 5,j = 2
 i = 5,j = 3
 i = 5,j = 4
 i = 5,j = 5
 i = 6,j = 1
 i = 6,j = 2
 i = 6,j = 3
 i = 6,j = 4
 i = 6,j = 5
 i = 7,j = 1
 i = 7,j = 2
 i = 7,j = 3
 i = 7,j = 4
 i = 7,j = 5
 i = 8,j = 1
 i = 8,j = 2
 i = 8,j = 3
 i = 8,j = 4
 i = 8,j = 5
 i = 9,j = 1
 i = 9,j = 2
 i = 9,j = 3
 i = 9,j = 4
 i = 9,j = 5
 i = 10,j = 1
 i = 10,j = 2
 i = 10,j = 3
 i = 10,j = 4
 i = 10,j = 5

In [ ]:
n = 6
for i in range(1,n):
    for j in range(1,n):     # don't change line till linear loop
        print(j , end =' ')  # change line for the outer loop
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [3]:
n = 10
for i in range(1,n):
    for j in range(1,n):
        print(i , end =' ')
    print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

### Jump Statement
* continue -> To skip the step
* break -> to stop the loop

* Always used with a condition inside a loop

In [5]:
# skip every value divisible by 3

for i in range(1,25):
    if i%3==0:
        continue
    print(i , end=' ')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23

In [7]:
data = [1,2,0,3,3,0,1,2,0,5,6,7,2,0,2,1]
for i in data:
    if i==0:
        continue
    print(i , end=' ')

1 2 3 3 1 2 5 6 7 2 2 1

In [9]:
for i in range(1,11):
    if i==8:
        break
    print(i , end=' ')

1 2 3 4 5 6 7

In [17]:
# add all values entered by user till he types 0

total = 0
print("Enter 0 to stop the loop")
for i in range(100):
    value = int(input("Enter a vlaue"))
    if value == 0:
        break
    total += value #add the value to total
print(f"Total = {total}")

Enter 0 to stop the loop
Total = 1634234