# we have To types of loops :

for (LOOP) :
-> step based loop

while (LOOP) :
-> condition expression based loop

: (COLON) -> IT CRAETES A BLOCK OF CODE

(
    _ (or) i  ->(underscore is loop variable are we can kept any variable)
    in ->(Member ship operator)
    : -> (colon)
)

In [2]:
for i in range(1,16) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [3]:
a = 5
b = 10
for i in range(a,b) :
    print(i)

5
6
7
8
9

In [8]:
x = int(input("Enter start point :"))
y = int(input("Enter End point :"))
for i in range(x,y) :
    print(i)

10
11
12
13
14
15
16
17
18
19

In [9]:
size = 10 
for i in range(1,size+1):
    print(f"12 * {i} = {12 * i}")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

# RANGE()
range(5)  -> 0 1 2 3 4 
range(6)  -> 0 1 2 3 4 5
range(10 , 14)  -> 10 11 12 13
range(2(start) , 6(stop)) -> 2 3 4 5
range() -> error
range(1 , 10 , 2) -> 1 3 5 7 9

In [1]:
for i in range(1,20,2) :
    print(i)

1
3
5
7
9
11
13
15
17
19

In [4]:
for i in range(100 , 201 ,2) :
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [5]:
colors = ['red' , 'blue' , 'green']
print(colors)

['red', 'blue', 'green']

In [6]:
for colors in colors :
    print(colors)

red
blue
green

In [11]:
# Print odd numbers from 100 to 200 in horizontal line
for i in range(1, 99, 2):   # start from 101 (first odd after 100)
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97