In [2]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

Hello, sameer
You are from Nellore
You are 20 years old.
Your rate is 3.24

In [4]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Sameer"
print("Name:", name)
name, age, city = "Sameer", 20, "Nellore"
print("Name:", name, "Age:", age, "City:", city)

Welcome to Python!
Sum: 8
Hello World !
Name: Sameer
Name: Sameer Age: 20 City: Nellore

In [5]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

A-B
Hello!

In [7]:
name = "Sameer"
age = 20
print(f"{name} is {age} years old.")

Sameer is 20 years old.

In [9]:
print("{} scored {} marks.".format("Sameer", 95))
print("{1} is {0} years old.".format(30, "Vishnu"))

Sameer scored 95 marks.
Vishnu is 30 years old.

In [10]:
# integer

x = 10
print(type(x))  # <class 'int'>

<class 'int'>

In [11]:
#float

y = 3.5
print(type(y))  # <class 'float'>

<class 'float'>

In [12]:
# complex

z = 1 + 2j
print(type(z))  # <class 'complex'>

<class 'complex'>

In [13]:
# none type

n = None
print(type(n))  # <class 'NoneType'>

<class 'NoneType'>

In [14]:
#str

s = "Python"
print(type(s))  # <class 'str'>

<class 'str'>

In [15]:
#boolean

flag = True
print(type(flag))  # <class 'bool'>

<class 'bool'>

In [16]:
#list

fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

<class 'list'>

In [17]:
# tuple

point = (3, 5)
print(type(point))  # <class 'tuple'>

<class 'tuple'>

In [18]:
#set

fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

<class 'set'>

In [20]:
#dict (directory)

student = {"name": "Sameer", "age": 20}
print(type(student))  # <class 'dict'>

<class 'dict'>

In [21]:
#Bytes

b = b"Hello"
print(type(b))  # <class 'bytes'>

<class 'bytes'>

In [ ]:
#frozenset

fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

<class 'frozenset'>

In [ ]:
#OrderedDictonary

from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

<class 'collections.OrderedDict'>

In [24]:
# Default Dictionary

from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

defaultdict(<class 'int'>, {'apple': 1})

In [25]:
# Counter

from collections import Counter
c = Counter(["apple", "banana", "apple"])
print(c)  # Counter({'apple': 2, 'banana': 1})

Counter({'apple': 2, 'banana': 1})

In [26]:
# Double-Ended Queue

from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)  # deque([2, 1])

deque([2, 1])

In [30]:
# User Dictionaryfrom collections import UserDict

from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)  # MyDict({'apple': 1})

{'apple': 1}

In [31]:
# User List

from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)  # MyList([1])

[1]

In [32]:
# Dynamic Typing

x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

<class 'str'>

In [33]:
# Implicit Type Conversion

a = 5       # int
b = 2.0     # float
c = a + b   # int + float -> float
print(c)    # 7.0
print(type(c))  # <class 'float'>

7.0
<class 'float'>

In [34]:
#Explicit Type Conversion 

a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

7

In [35]:
# Converting float to int

x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(y)

3

In [39]:
#TypeError

a = 5
b = 2
print(a + b)  # TypeError: can only concatenate str (not "int") to str

7

In [50]:
#Fix

print(int(a) + b)  # 7
print(a + int(b))  # "52"

7
7

In [51]:
#ValueError

s = "hello"
n = str(s)  # ValueError: invalid literal for int() with base 10: 'hello'

In [52]:
# arithematic Operators

a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

13
3.3333333333333335
3
1000

In [53]:
# Relational (Comparison) Operators


print(5 > 2)   # True
print(5 == 2)  # False

True
False

In [54]:
# Logical Operators

x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

True
False

In [55]:
# Bitwise Operators

a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

1
7
6
-6
10
2

In [56]:
# Assignment Operators

x = 10
x += 5  # x = x + 5
print(x)  # 15

15

In [57]:
# Membership Operators

nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

True
True

In [58]:
# Identity Operators

a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True

True
False
True

In [59]:
# Comments in Python

# This is a single-line comment
print("Hello")  # This is an inline comment

Hello

In [60]:
# Multi-line Comments

# This is a
# multi-line comment

'''
This is also a
multi-line comment
'''

'\nThis is also a\nmulti-line comment\n'

In [62]:
# Docstrings

def add(a, b):
    """
    Adds two numbers.
    """
    return a + b